@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 0 0
  }
}
@media (min-width: 50) {
  .card-deck .card {
    flex: 0 0 0 0
  }
}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(33.33333% - 30px);
  }
}
